@model Event_App.Models.EventDetialsViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="container">
    <div class="col-12">
        <div class="row">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="deatilEvent.EventId" />

                <div class="col-6">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="host.IdentityUserId" />
                    <input type="hidden" asp-for="host.PersonId" />

                    <div class="form-group">
                        <label asp-for="deatilEvent.EventName" class="control-label"></label>
                        <input asp-for="deatilEvent.EventName" class="form-control" />
                        <span asp-validation-for="deatilEvent.EventName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="deatilEvent.InterestId" class="control-label"> Interest </label>
                        <select asp-for="deatilEvent.InterestId" class="form-control" asp-items='new SelectList(Model.Interests, "InterestId", "InterestType")'></select>

                        @*<input type="hidden" asp-for="interest.InterestId" />*@
                        <span asp-validation-for="deatilEvent.InterestId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="deatilEvent.EventDate" class="control-label"></label>
                        <input asp-for="deatilEvent.EventDate" class="form-control" />
                        <span asp-validation-for="deatilEvent.EventDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="deatilEvent.EventDescription" class="control-label"></label>
                        <input asp-for="deatilEvent.EventDescription" class="form-control" />
                        <span asp-validation-for="deatilEvent.EventDescription" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="deatilEvent.EventUrl" class="control-label"></label>
                        <input asp-for="deatilEvent.EventUrl" class="form-control" />
                        <span asp-validation-for="deatilEvent.EventUrl" class="text-danger"></span>
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="deatilEvent.IsPrivate" /> @Html.DisplayNameFor(model => model.deatilEvent.IsPrivate)
                        </label>
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="deatilEvent.IsVirtual" /> @Html.DisplayNameFor(model => model.deatilEvent.IsVirtual)
                        </label>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="address.Venue" class="control-label">Venue Name</label>
                        <input asp-for="address.Venue" class="form-control" />
                        <span asp-validation-for="address.Venue" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="address.Street" class="control-label"></label>
                        <input asp-for="address.Street" class="form-control" />
                        <span asp-validation-for="address.Street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="address.City" class="control-label"></label>
                        <input asp-for="address.City" class="form-control" />
                        <span asp-validation-for="address.City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="address.State" class="control-label"></label>
                        <input asp-for="address.State" class="form-control" />
                        <span asp-validation-for="address.State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="address.ZipCode" class="control-label"></label>
                        <input asp-for="address.ZipCode" class="form-control" />
                        <span asp-validation-for="address.ZipCode" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
